.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('C:\Users\Pavilion\"C:\Users\Pavilion\Desktop\sign in sign up\istockphoto-1329715338-612x612.jpg"\sign in sign up'); /* Specify the path to your background image */
  background-size: cover;
  background-position: center;
}


.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form h2 {
  margin-bottom: 20px;
}

.form label {
  margin-bottom: 10px;
  text-align: left;
  width: 100%;
}

.form input {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

.form button {
  padding: 10px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.form button:hover {
  background-color: #0056b3;
}

.toggle-button {
  margin-top: 10px;
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
}

.toggle-button:hover {
  text-decoration: underline;
}